<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   items.plist
   CollectionViewTest

   Created by 游义男 on 15/9/3.
   Copyright (c) 2015年 游义男. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>itemImage</key>
            <string>pic_1</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_2</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_3</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_4</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_5</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_6</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_7</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_8</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_9</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_10</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_11</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_12</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_1</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_2</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_3</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_4</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_5</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_6</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_7</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_8</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_9</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_10</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_11</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_12</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_1</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_2</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_3</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_4</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_5</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_6</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_7</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_8</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_9</string>
        </dict>
        <dict>
            <key>itemImage</key>
            <string>pic_10</string>
        </dict>
    </array>
</plist>
